h1, form{
    text-align:center;
}

class = container.container{
    position:relative;
    float: left;
    width:  200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   repeat;
    background-size:     cover;
}